.AddReaderCard {
  margin-bottom: 20px;
  background-color: white;
}

.FormItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.FormItem {
  margin-bottom: 0;
}

.List {
  margin-top: 20px;
}